:root {
  --primary-color: #d9d9d9;
  --secondary-color: #ce6f6f;
  --third-color: #2b3447;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Mrs Saint Delafield", cursive;
}

body {
  font-family: var(--primary-font);
  font-weight: 300;
  display: block;
  margin-right: 0;
  background: var(--third-color);
}

h1 {
  font-size: 80px;
  margin-top: -250px;
  margin-bottom: -15px;
  color: white;
  font-family: var(--secondary-font);
}

h2 {
  font-size: 30px;
  color: var(--secondary-color);
  margin-top: -100px;
}

.h1-portfolio {
  color: rgb(151, 82, 82);
  font-family: var(--secondary-font);
  font-size: 200px;
  font-weight: 550;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -150px;
  margin-top: -10px;
}

.h1-contactpage {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 90px;
  font-weight: 500;
  margin-top: -300px;
}

h2.h2-mail {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-top: 160px;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 30px;
}

h4 {
  font-size: 40px;
}

h5 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 70px;
  margin-top: -45px;
  margin-bottom: 40px;
}

footer a {
  text-decoration: none;
  color: gray;
}

video {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.video {
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.name {
  font-size: 17px;
  font-weight: 500;
}

.hero-home {
  max-width: 100%;
  margin-top: 430px;
  margin-bottom: 30px;
}

.hero-contact {
  max-width: 100%;
  margin-bottom: 30px;
}

.arrow {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.logo {
  display: block;
  margin: 0 auto;
  opacity: 20%;
  margin-top: -20px;
}

img.logo-home {
  opacity: 20%;
  margin: 0 auto;
  margin-top: -250px;
  display: block;
}

.introduction {
  padding: 25px 20px 25px 20px;
  min-width: 100%;
  margin-bottom: 30px;
  color: white;
}

.card {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.card-title {
  margin-top: 15px;
  margin-bottom: 23px;
}

.button-card {
  text-decoration: none;
  color: var(--third-color);
  border-bottom: 2px solid var(--secondary-color);
  padding: 10px 20px 10px 20px;
  border-radius: 1px;
  font-size: 20px;
}

.button-card:hover {
  background: var(--secondary-color);
  color: white;
  transition: all 150ms ease-in-out;
}

.portfolio-home {
  margin-top: -200px;
}

.active {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 3px;
  color: var(--secondary-color);
}

.link {
  color: var(--secondary-color);
  text-decoration: none;
}

.link:hover {
  color: var(--secondary-color);
  font-weight: 400;
}

.resume-app-on-contactpage {
  display: inline;
  margin: 0 auto;
  text-align: center;
  background: var(--secondary-color);
  color: white;
}

.resume-app-on-contactpage:hover {
  background: var(--third-color);
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

.she-codes-foundation {
  font-family: var(--secondary-font);
  font-size: 50px;
}

.card-text {
  margin-bottom: 40px;
}

.text-aboutme {
  text-align: center;
}

.nav-color {
  background: white;
}

.network {
  color: white;
  opacity: 85%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

.network:hover {
  cursor: pointer;
  color: var(--secondary-color);
  opacity: 100%;
}

.contact-me {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}

.contact-me-portfolio {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  margin-top: 0px;
}

.publication-list {
  list-style: none;
  text-align: center;
}

.publication-list a {
  text-decoration: none;
  color: var(--secondary-color);
}

.publication-list a:hover {
  font-weight: 400;
}

.thanks {
  color: white;
}

.image-katrin {
  margin-bottom: 200px;
  margin-top: 5px;
}

@media (max-width: 320px) {
  body {
    width: 100%;
  }

  .hero {
    padding-top: 10px;
  }

  h2.text-center {
    font-size: 13px;
  }

  .introduction {
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .intro-xs-dev {
    margin-top: -120px;
    margin-right: 0px;
  }

  .img-xs-dev {
    display: none;
  }

  .row.introduction {
    margin: 0 auto;
  }

  h2.h2-mail {
    padding-top: 0px;
    margin-top: 20px;
  }

  .h1-about {
    margin-top: -180px;
  }

  a.link.she-codes-foundation {
    font-size: 30px;
  }

  h1.h1-contactpage {
    font-size: 50px;
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  body {
    width: 100%;
    margin: 0 auto;
    margin-top: -310px;
    text-align: center;
  }

  h2 {
    font-size: 19px;
    text-decoration: none;
  }

  h5 {
    font-size: 35px;
    padding-top: 20px;
  }

  .h1-portfolio {
    font-size: 100px;
    margin-bottom: 50px;
    color: var(--secondary-color);
  }

  .introduction p {
    text-align: center;
    min-width: 100%;
  }

  .video {
    margin-top: -65px;
  }

  .portfolio-home {
    width: 100%;
    padding-top: 70px;
  }

  .card {
    margin-top: 10px;
    width: 100%;
  }

  .card-title {
    font-size: 23px;
    padding-bottom: 10px;
  }

  .button-card {
    font-size: 17px;
  }

  h2.h2-mail {
    font-size: 13px;
    font-weight: 350;
  }

  .h1-contactpage {
    font-size: 80px;
  }

  .image-katrin {
    width: 80%;
    padding-bottom: 5px;
  }

  .hero-contact {
    width: 100%;
    margin-top: 300px;
  }

  .active {
    border-bottom: none;
  }

  img.logo-home {
    margin-top: -200px;
    width: 80%;
    margin-bottom: -50px;
  }

  img.logo {
    width: 90%;
    margin-bottom: -50px;
  }

  .h1-about {
    padding-top: 80px;
  }

  .about-text {
    margin-bottom: -35px;
  }

  .she-codes-foundation {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-me {
    margin-top: -10px;
  }
}

@media (max-width: 768px) {
  video {
    margin-top: 35px;
  }

  .portfolio-home {
    margin-top: -110px;
  }

  h5 {
    font-size: 40px;
    padding-top: 15px;
  }
}
